* {
    color: white;
}
.body {
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-section {
    display: flex;
    flex-direction: column;
}
select {
    background: white;
    color:black;
    width: 150px;
    height: 40px;
    border-radius: 8px;
}
option {
    color:black;
}
h4 {
    margin-top: 10px;
}
h2, h4, .check-div {
    margin-bottom: 10px;
}
.playlists {
    background: linear-gradient(to left, #1f1f1f, #151515);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border: solid 3px rgba(179, 179, 179, .5);
    border-radius: 10px;
    width: 40vw;
    height: 50vh;
}
.playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    height: 100%;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.playlist:hover {
    background-color: #334155;
}
.yay {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playl {
    width: 100%;
    flex-shrink: 0;
}
section {
    display: flex;
    justify-content: space-between;
}
.spec-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    overflow-y: auto;
    background: rgb(45, 45, 45);
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}
.spec-div::-webkit-scrollbar, #songsContainer::-webkit-scrollbar {
    width: 5px;
}
.spec-div::-webkit-scrollbar-thumb, #songsContainer::-webkit-scrollbar-thumb {
    background: rgb(181, 181, 181);
}
.btn {
    height: auto;
    background: none;
}
.specifications {
    display: flex;
    flex-direction: column;
}
.spec {
    margin-left: 2%;
    padding: 2%;    
    background: linear-gradient(45deg, #151515, #363636);
    align-items: center;
    border: solid 3px rgba(179, 179, 179, .5);
    border-radius: 20px;
    height: 70vh;
}
.typ {
    height: max-content;
}
input {
    width: 30vw;
    height: 40px;
    border-radius: 8px;
    border:solid gray 1px;
    padding-left: 10px;
    margin-bottom: 2%;
    color:black;
}
button {
    width: 10vw;
    height: 50px;
    box-shadow: black 1px 1px 2px 0px;
}
.check-div {
    display: grid;
    grid-template-columns: repeat(4, max-content);

}
.check {
    display: flex;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
    width: auto;
    background: rgba(0,0,0,0.4);
}
.checkin {
    background-color: rgb(0, 128, 255);
    color: white;
}
.head-section {
    width: min-content;
}
li {
    list-style: none;
}
input {
    color:black;
    background: white;
}
.addSpecDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    position: absolute;
    background: rgb(37, 37, 37);
    width: 99vw;
    transition: .5s ease-in-out;
    top: 0;
}
.showMenu {
    height: 10vh;
    border: 5px solid white;
    border-radius: 8px;
}

#musicFolder {
    display: none;
}
.file-btn {
    display: inline-block;
    background-color: #38BDF8;
    color: #000000;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}
.errMsg {
    background: red;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.file-btn:hover {
    background-color: #38BDF8;
}
#songsContainer {
    height: 30vh;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.center input, .center select {
    margin: 5px;
}
hr {
    width:100%;
    height: 2px;
    border: none;
    margin-top: 4%;
    margin-bottom: 4%;
    background:linear-gradient(to right, #0082ba, #b9edff);
}
#cross {
    position: absolute;
    top: 10%;
    left: 1%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .3s;
}
#cross:hover {
    width: 30px;
    height: 30px;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
}
.songAddInput {
    border-radius: 0;
}