* {
    color: white;
}
input {
    width: 30vw;
    height: 40px;
    border-radius: 8px;
    border:solid gray 1px;
    padding-left: 10px;
    margin-bottom: 2%;
    color:black;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1E293B;
    border-radius: 30px;
    border: solid white 5px;
    width: 40vw;
    height: 70vh;
}
h1 {
    position: relative;
    top: 1%;
}
button {
    width: 10vw;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.form-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}