* {
    margin: 0;
    padding: 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to left, #222222, #161616);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 10px 1px black;
}
.body {
    justify-content: flex-start;
    overflow-y: hidden;
}
header {
    height: 12vh;
    display: flex;
    align-items: center;
}
img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
h2 {
    font-size: 2rem;
}
#songName {
    position: absolute;
    left: 20px;
}
#pauseBtn {
    display: none;
}
.song-play {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    margin: 10px;
}
.song-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    gap: 15px;
    color: white;
}
.songs {
    background: linear-gradient(to left, #1f1f1f, #151515);
    width: 52vw;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 3px #5a5a5a;
    border-radius: 20px;
    overflow-y: auto;
}
li {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}
.niga {
    display: flex;
    justify-content: center;
    width: 100%;
    background:none;
    cursor: pointer;
    height: 100%;
    transition: 0.3s;
}
.niga:hover {
    background-color: #3d3d3d;
}
.name {
    width: 50%;
    display: flex;
    justify-content: center;
}
.progressBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#progressBar {
    width: 30vw;
    height: 30px;
    
}
.note {
    width: 20px;
    height: 20px;
}
li {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 40px;
}
.playingBtn {
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border: none;
    width: auto;
    height: auto;
    box-shadow: none;
}
.playingBtn:hover {
    border: none;
}
.buttons {
    display: flex;
}
.auto {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    background: rgb(35, 35, 35);
    border-radius: 10px;
    border: solid 3px rgb(77, 77, 77);
    padding: 15px;
}
#autoplay {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 10px;
}
progress::-moz-progress-bar { background: #3b82f6; }
#progressBar::-webkit-progress-value {
    background: #3b82f6;
}
progress { color: #3b82f6; }
.queue {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 30vh;
    width: 15%;
}
.queue-btn {
    display: flex;
    width: 10vw;
    background: rgb(20,20,20);
    border-radius: 10px;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    border:solid rgba(0, 0, 0, 0) 2px;
}
.sg-head {
    display: flex;
    width: 100%;
    align-items: center;
}
.sg-head img {
    width: 30px;
    height: 30px;
    padding-left: 5px;
}
.sg-head h3 {
    width: 90%;
    text-align: center;
    font-size: 2rem;
}
.queue-btn:hover {
    border:solid rgb(98, 98, 98) 2px;
}
.bb {
    background: rgba(0, 0, 0, 0.8);
}
.queue-btn img {
    height: 30px;
    width: 30px;
}
.queue-container {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border:solid rgb(98, 98, 98) 2px;
}
#queue-container {
    position: fixed;
    left: 5vw;
}
.queue-listitem {
    padding-bottom: 3px;
    cursor: pointer;
}
.queue-listitem:hover {
    background: rgba(40,40,40,.5);
}
.block {
    display: block;
}
#cont {
    display: none;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
}
#playlist-container {
    height: 40vh;
    overflow-y: scroll;
}
#song-container {
    background: rgb(41, 41, 41);
    border-radius: 10px;
    border: 3px white solid;
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.songsInQueue {
    display: none;
    width: 80%;
    justify-content: center;
}
.songsInQueue p {
    width: 90%;
}
.queueAdd-btn {
    background: rgb(78, 193, 78);
    height: 30px;
    width: 30px;
}
.playlistInQueue {
    width: 100%;
    transition: .5s;
    cursor: pointer;
}
.playlistInQueue:hover {
    background: rgb(66, 66, 66);
}