* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color:white;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-45deg, #0F172A, #08212b);
}
h1 {
    font-size: 3.5rem;
}
.user {
    position: fixed;
    top: 1%;
    right: 1%;
    cursor: pointer;
    border: solid black 1px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-div {
    display: none;
    position: fixed;
    top: 5%;
    right: 1%;
    background: rgb(208, 208, 208);
    width: 5%;
    height: 5%;
}
.show {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.user-div form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-logout {
    background: red;
    width: 90%;
    height: 60%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin: 1%;
}
button {
    border-radius: 10px;
    background: #38BDF8;
    border: solid 2px rgba(0,0,0,0);
    cursor: pointer;
    transition: .5s;
    color: #000000;

}
button:hover {
    border: solid 2px white;
}
.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background: none;
}
nav {
    height: 100%;
    overflow: hidden;
    width: 0;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    background: rgb(93, 93, 93);
    transition: 0.5s ease-in-out;
}
.ham {
    width: auto;
}
.imgHam {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.wrap {
    opacity: 0.5;
    overflow:visible;
}
.wrap:hover {
    opacity: 1;
}
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-item {
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.menu-item:hover {
    background: rgb(120, 120, 120);
}
.logo {
    width: auto;
    height: 50px;
}