* {
    margin: 0;
    padding: 0;

}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(215, 215, 215);
    display: flex;
    align-items: center;
    justify-content: center;

}
img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
button {
    background: none;
    border: none;
}
h2 {
    font-size: 2rem;
}
#pauseBtn {
    display: none;
}
.song-play {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
}
.song-div {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(43, 43, 43);
    color: white;
}
.progressBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#progressBar {
    width: 30vw;
    height: 30px;
    
}
progress::-moz-progress-bar { background: red; }
progress::-webkit-progress-value { background: red; }
progress { color: red; }